// Work Styling

#work
  background-color: $work-dark-primary-color
  width: 50%
  height: 500px
  margin-top: -100px
  display: flex
  flex-direction: column
  justify-content: center


#work-slider
  position: absolute
  top: 0
  left: 10%
  width: 80%
  height: auto
  display: flex
  flex-direction: column
  background-color: #fff
  border-radius: 2px;
  transform: translateY(-100%)
  transition: 0.3s ease-in-out

#work-slider.toggle
  transform: translateY(0%)
  box-shadow: -5px 0px 20px 0 rgba(50, 50, 50, 0.2), 0px 7px 10px 0 rgba(50, 50, 50, 0.2), 7px 0 20px -1px rgba(50, 50, 50, 0.2)

.work-section-card-container
  margin: 50px

.work-section-header
  display: flex
  flex-direction: row
  justify-content: space-around
  padding: 50px
  background-color: $work-primary-color
  color: $text
  .work-section-title
    font-size: 36px
    line-height: 36px
  .work-section-close
    display: flex
    justify-content: center
    height: 48px
    width: 48px
    border-radius: 50%
    background-color: $work-accent-color
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.23)
    cursor: pointer

.work-section-card-container
  padding: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  .work-card-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    width: 30%
    margin: 10px 0
    border-radius: 3px
    box-shadow: -2px 0px 5px 1px rgba(50, 50, 50, 0.2), 0px 0px 5px 0px rgba(50, 50, 50, 0.2), 2px 0 5px 1px rgba(50, 50, 50, 0.2)
    .work-card-hero
      display: flex
      img
        border-radius: 3px 3px 0 0
        height: 200px
        width: 100%
        object-fit: cover
    .work-card-content-wrapper
      padding: 20px
      .work-card-title
        padding: 10px 0
      .work-card-description
        padding: 10px 0

    .work-card-content-body
      p
        padding: 10px 0

    .work-card-button-wrapper
      padding: 20px
      display: flex
      flex-direction: row
      justify-content: space-around
      a
        color: $text
        text-decoration: none
